@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container mt-5">
    <!-- Introdução ao tema Diabetes -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="display-4">Viva Melhor com Diabetes</h2>
            <p class="lead">Informações e ferramentas para um dia a dia mais saudável.</p>
        </div>
    </div>

    <!-- Três colunas com informações -->
    <div class="row text-center mt-4">
        <!-- Coluna 1: Prevenção -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Prevenção</h3>
                    <p class="card-text">Entenda as diferenças da diabetes 1 e 2, e tire suas duvidas.</p>
                    <a href="/Home/Gerir" class="btn btn-primary stretched-link">Saiba mais</a>
                </div>
            </div>
        </div>

        <!-- Coluna 2: Gerenciamento -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Gerir seus niveis</h3>
                    <p class="card-text">Analise todos os seus valores do dia a dia e consiga controlar melhor a sua alimentaçao.</p>
                    <a href="/Home/Medidor" class="btn btn-primary stretched-link">Saiba mais</a>
                </div>
            </div>
        </div>

        <!-- Coluna 3: Novidades -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Tabela Nutricional e Calculadora</h3>
                    <p class="card-text">Consulte a tabela nutricional para todos os alimentos,calcule a quantidade de glicemia.</p>
                    <a href="/Home/Tabela" class="btn btn-primary stretched-link">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
