@using LiveDiabetes.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @await GetUserName()!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sessão</a>
    </li>
}
</ul>

@functions {
    public async Task<string> GetUserName()
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            if (user.FirstName != null)
            {
                return $"{user.FirstName} {user.LastName}";
            }
            else
            {
                // Separa o email pelo '@' e retorna apenas a parte antes do '@'.
                var emailPrefix = user.Email.Split('@')[0];
                return emailPrefix;
            }
        }
        return "Utilizador Desconhecido";
    }
}
