@page
@model IndexModel
@{
    ViewData["Title"] = "Altera os teus dados pessoais aqui.";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <!-- FirstName -->
    <div class="col-md-6 d-flex align-items-center mb-3">
        <form method="post" class="d-flex flex-grow-1 align-items-center" asp-page-handler="FirstName">
            <div class="form-floating me-2 flex-grow-1">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name"/>
                <label asp-for="Input.FirstName"></label>
            </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
    </div>

    <!-- LastName -->
    <div class="col-md-6 d-flex align-items-center mb-3">
        <form method="post" class="d-flex flex-grow-1 align-items-center" asp-page-handler="LastName">
            <div class="form-floating me-2 flex-grow-1">
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name"/>
                <label asp-for="Input.LastName"></label>
            </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
    </div>
</div>

<div class="row">
    <!-- Gender -->
    <div class="col-md-6 d-flex align-items-center mb-3">
        <form method="post" class="d-flex flex-grow-1 align-items-center" asp-page-handler="Gender">
            <div class="form-floating flex-grow-1 me-2">
                <select asp-for="Input.Gender" class="form-control">
                    <option value="Male">Masculino</option>
                    <option value="Female">Feminino</option>
                </select>
                <label asp-for="Input.Gender"></label>
            </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
    </div>

    <!-- Date of Birth -->
    <div class="col-md-6 d-flex align-items-center mb-3">
        <form method="post" class="d-flex flex-grow-1 align-items-center" asp-page-handler="DateOfBirth">
            <div class="form-floating flex-grow-1 me-2">
                <input asp-for="Input.DateOfBirth" type="date" class="form-control"/>
                <label asp-for="Input.DateOfBirth"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
