@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password alterada com sucesso!";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-page="./Login" class="btn btn-primary">Faz login aqui</a>
    
</p>
